.app {
  background-color: #00302e;
}
#scroll{
  overflow: auto ;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #00302e; 
  border-radius: 10px;
}
/* -----------HOME---------- */
.container {
  padding: 30px 0px;
}
/* -----------LOGIN / SIGNUP---------- */

.auth__Container #image {
  width: 700px;
  height: 657px;
  position: fixed;
}
.auth__Container #right__signupContainer {
  height: 657px;
  padding: 50px 100px;
}
.auth__Container #right__loginContainer {
  height: 657px;
  padding: 150px 100px;
}
.auth__Container .heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #00302e;
  margin-bottom: 25px;
}
.auth__Container .links {
  display: flex;
  justify-content: space-between;
}
.auth__Container .links > .span {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #00302e;
}
.auth__Container .signup__link {
  display: flex;
  justify-content: center;
 padding-bottom: 50px;
}
.auth__Container .signup__link > .span {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #00302e;
}
/* --------DASHBOARD----------- */

.dashboard {
  margin-left: 250px;
  padding: 1px 16px;
  /* height: 1000px; */
}
.dashboard__header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #00302e;
}
.dashboard__header p {
  font-size: 16px;
  padding-top: 3px;
  color: #000000;
  font-weight: 400;
}
.dashboard__headerRight{
  display: flex;
}
.dashboard__headerRight>img{
width: 40px;
height: 40px;
}

.dashboard__headerRight>button{
  display: flex;
  padding: 5px 20px;
  margin-left: 20px;
  background-color: #00302e;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar li {
    float: left;
  }
  .dashboard {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar li {
    text-align: center;
    float: none;
  }
}

/* -----------Dashboard----------- */

.dashboard > .dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}

.textArea{
  width: 100%;
display: block;
padding: 15px 10px;
border: 0.1px solid #faf1e7;
margin-bottom: 25px;
}
.textArea::placeholder{
  color:#9caaaa;
  font-size: 14px;
  font-weight: 400;
}