/* -----------Sidebar----------- */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #00302e;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding: 60px 0;
}

.sidebar__logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.sidebar__logo {
  margin-left: -50px;
  width: 45px;
  height: 52px;
  margin-right: 10px;
}

.sidebar li {
  display: flex;
  align-items: center;
  color: #e5e5e5;
  font-size: 14px;
  font-weight: 450;
  padding: 16px 0px;
  text-decoration: none;
  margin: 0;
}
.sidebar li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sidebar li img {
  margin-right: 15px;
  width: 17px;
}
#cart__icon {
  margin-right: 19px;
  width: 13px !important;
}
.order__quantityShow {
  padding: 0 7px;
  border-radius: 5px;
  background-color: #f3c294;
  color: #000000;
  margin-left: 65px;
}
.cart__quantityShow {
  padding: 0 7px;
  border-radius: 5px;
  background-color: #06e775;
  color: #000000;
  margin-left: 80px;
}
